h1 {
    color: rgb(44, 175, 236);
    font-size: 66px;
}
p{
    color: blueviolet;
    font-size: 40px;
    font-style: oblique;
    text-align: right;
    text-shadow: 10px 30px rgb(198, 233, 103);
}
#mytext{
    color: darksalmon;
}